.header {
    background: black
}

.class1 {
    padding: 8px 0 10px 0;
}

.header2 {
    display: flex;
    justify-content: space-between;
}

.class_2 {
    display: flex;
}

.class_2 li {
   list-style-type: none;
}

.rss {
    padding: 8px;
}
.facebook {
    padding: 8px;
}
.twitter {
    padding: 8px;
}
.linkedin {
    padding: 8px;
}

.class_2 a {
    text-decoration: none;
    color: white;
}

.class_2  :hover {
    color: orange;
    font-size: large;
}

.navigation ul{
    display: flex;
}

.navigation li {
    padding: 10px 30px 0 0;
    list-style-type: none;
    font-size: 10px;
}

.navigation a   {
    color: gray;
    text-decoration: none;
}

.navigation ul li :hover {
    border-bottom: solid 2px rgb(56, 215, 226);
    padding-bottom: 12px;
    color: rgb(56, 215, 226);
}

.box {
    padding-top: 20px;
text-align: center;
}

.box p {
    color: gray;
    font-size: 10px;
}

.box1 a {
    font-size: 100px;
    padding-bottom: 30px;
}

.box1 {
    font-size: 15px;
    text-align: center; 
}

.box1 a {
    color: gray;
    text-decoration: none;
}

.box_1 {
    color: gray;
}

.box1_ :hover {
    color: rgb(56, 215, 226);
}

.main {
    background: rgb(212, 209, 209);
}

.card-body {
    font-size: 10px;
}

.card {
    background: rgb(212, 209, 209);
}

.parent {
    display: flex;
    margin: 30px 0px;
}

.block {
    padding-right: 20px;
}

.block3 {
    margin-top: 35px;
}

.block2 {
    margin-top: 15px;
}

.block1 {
    margin-top: 10px;
}

.section1 {
    background: rgb(95, 94, 94);
}

.parent {
    color: rgba(255, 255, 255, 0.788);
    font-size: 12px;
}

.info1-child span {
color: rgb(163, 163, 163);
font-size: 14px;
}

.info1-child i {
    color: rgb(56, 215, 226);
}

.info-1 {
    border-bottom: gray solid 1px;
}

.info1-child {
    padding-bottom: 20px;
}

.parent h5 {
    padding-top: 20px;
    color: white;
    
}

.info2 b {
  font-size: 13px;
  color: white;
}

.info-3 {
    padding-bottom: 16px;
}

.info-4 li {
    list-style-type: none;
}

.info-4 i {
    float: left;
}

.place i {
    padding-left: 10px;
    padding-top: 24px;
    color: rgb(56, 215, 226);
}

.place li span {
    padding-left: 20px;
}

.place li {
    padding: 20px 0 0 20px;
}

.mail li span {
    padding-left: 20px;
}

.mail li {
    padding: 10px 0 0 20px;
}

.mail i {
    padding-left: 10px;
    padding-top: 14px;
    color: rgb(56, 215, 226);
}

.phone li span {
    padding-left: 20px;
}

.info2 {
    padding-bottom: 20px;
}

.phone li {
    padding: 10px 0 0 20px;
}

.phone i {
    padding-left: 10px;
    padding-top: 14px;
    color: rgb(56, 215, 226);
}

.between {
    display: flex;
    justify-content: space-between;
}

.class_2 a {
    text-decoration: none;
    color: white;
}

.footer {
    background: black;
}
.end {
    padding-top: 30px;
}

.edge {
    display: flex;
    padding-top: 20px;
}

.edge li {
    list-style-type: none;
}

.edge a {
    text-decoration: none;
    color: white;
}

.card-body a {
    text-decoration: none;
    color: gray;
}